<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E-Commerce App</a>
        <button class="navbar-toggler" (click)="toggleNavBar()" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="Active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account" routerLinkActive="Active" *ngIf="isUser">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cart" routerLinkActive="Active" *ngIf="isUser">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/orders" routerLinkActive="Active" *ngIf="isUser">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="Active" *ngIf="!isUser">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="Active" *ngIf="!isUser">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="Active" *ngIf="!isUser">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" routerLink="/logout" routerLinkActive="Active" (click)="logout()"
                        *ngIf="isUser">Log
                        Out</a>
                </li>


            </ul>
        </div>
    </div>
</nav>